.b-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #ac3139;
  text-decoration: underline;
}
.horizontal-line {
  border: 1px solid transparent;
  background-color: black;
  width: auto;
}
#Bonus {
  margin-bottom: 10px;
  height: auto;
}
