.Main-container {
  width: 97%;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  line-height: normal;
  margin-bottom: 15px;
}
.heading {
  font-weight: lighter;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: poppins;
  text-align: center;
  text-decoration: none;
  color: black;
}
.main-text-container {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .Main-container {
    width: 100%;
    height: auto;
    margin: 10px 10px;
  }

  .main-text-container {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .Main-container {
    margin-top: 1pc;
  }
}
